body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.sticky-header img {
    width: 100px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f00;
}

section {
    padding: 40px 20px;
    margin: 20px 0;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.service {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-icon {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff4d4d; 
    margin-right: 20px;
}

.service-icon i {
    color: #fff;
    font-size: 1.5em;
}

.service-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-details p {
    font-size: 1.2em;
    color: #666;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f00;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}
